@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 12pt;
    background: linear-gradient(to bottom, #5885ff 70%,#dfc19b);
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-container{
  overflow: auto;
  scrollbar-width: none;
    height: 62%;
    width: 50%;
    background-color: #dfc19b;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px ;
    box-shadow: 0 0 2px 5px #dfc19b;
}
.todo-container::-webkit-scrollbar {
  display: none; 
}

.todo-container h1{
    font-size: 3rem;
    margin: 30px 0;
    text-align: left;
}

.input-container {
    position: relative;
    width: 80%;
    margin: 20px 0;
  }
  
  .todo-input {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 50px;
    padding: 25px 60px 25px 20px;
    margin:  0;
    font-size: 1.2rem;
    box-sizing: border-box;
  }
  
  .add-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 80px;
    background: #5885ff;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    transition: background 0.3s ease;
  }
  
  .add-btn:hover {
    background: #3a6bff;
  }

  .list-container{
    width: 80%;
    height: 60%;
  }
  .list-container .list{
    box-shadow: 0 0 2px 4px #afc3fa;
    background-color: #5885ff;
    border-radius: 100px;
    width: 100%;
    height: 100px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 30px;    
    position: relative;
  }

  .list-container .list label p{
    color: white;
    margin: 0 0 0 40px;
    font-size: 1.2rem;
  }

   input[type="checkbox"] {
    display: none;
   }

.custom-checkbox {
    position: absolute;
    left:20px;
    top:30px;
    width: 40px;
    height: 40px;
    display: inline-block;
    background: url('img/Taskunchecked.svg') no-repeat center;
    background-size: contain;
    cursor: pointer;
}


input[type="checkbox"]:checked + .custom-checkbox {
    background: url('img/Taskchecked.svg') no-repeat center;
    background-size: contain;
}
input[type="checkbox"]:checked + .custom-checkbox + p {
    text-decoration: line-through;
}

@media (max-width: 500px){
  .todo-container h1{
    font-size: 1.6rem;
    margin: 30px 0;
    text-align: left;
}
.todo-container{
  width: 90%;
  height: 90%;
}
}